<mat-toolbar class="modal-header">
  <div class="header-content">
    <mat-icon svgIcon="hand-dollar" class="money-icon"></mat-icon>
    <span class="dialog-title">Add Assets</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="assetsForm" class="form-content">
 

  <div class="form-table-container">
     <div class="form-header">
    <div class="column-label">Type</div>
    <div class="column-label">Value</div>
    <div class="column-spacer"></div>
  </div>
  
  <div class="header-border"></div>
    <div formArrayName="assets" class="assets-rows">
      <div 
        class="asset-row" 
        *ngFor="let assetControl of assetsFormArray.controls; let i = index"
        [formGroup]="getAssetFormGroup(i)">
        
        <mat-form-field appearance="outline" class="type-field">
          <mat-select formControlName="type" placeholder="-- Select --">
            <mat-option *ngFor="let type of assetTypes" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="value-field">
          <div matTextPrefix class="dollar-prefix">$</div>
          <input 
            matInput 
            formControlName="value" 
            type="number" 
            step="0.01" 
            placeholder="0.00" />
        </mat-form-field>

        <div class="delete-icon-container">
          <button 
            mat-icon-button 
            type="button"
            class="delete-button"
            [class.has-content]="getAssetFormGroup(i).get('type')?.value || getAssetFormGroup(i).get('value')?.value"
            (click)="removeAsset(i)"
            [disabled]="assetsFormArray.length === 1"
            matTooltip="Remove asset"
            [matTooltipDisabled]="assetsFormArray.length === 1">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>



    <div class="add-another-container">
      <button 
        type="button" 
        mat-button 
        class="add-another-button" 
        (click)="addAnotherAsset()"
        matTooltip="Add another asset">
        <mat-icon class="add-icon">add_circle</mat-icon>
        <span class="add-text">Add Another Asset</span>
      </button>
    </div>
  </div>
</form>

<mat-dialog-actions class="modal-actions">
  <button mat-button (click)="onClose()">Close</button>
  <button 
    mat-raised-button 
    color="primary" 
    [disabled]="!isFormValid()" 
    (click)="onSave()">
    Save
  </button>
</mat-dialog-actions>