<div class="landing-container">
  <mat-card class="content-card">
    <!-- Empty State -->
    <ng-container *ngIf="assets.length === 0">
      <mat-card-content class="empty-state">
        <mat-icon class="money-icon" svgIcon="hand-dollar"></mat-icon>
        <mat-card-title>No Assets</mat-card-title>
        <mat-card-subtitle>You currently don't have any Assets...</mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button (click)="openDialog()">
            Add Assets
          </button>
        </mat-card-actions>
      </mat-card-content>
    </ng-container>

    <!-- Populated State -->
    <ng-container *ngIf="assets.length > 0">
      <mat-card-header>
        <mat-card-title>
          <mat-icon class="money-icon" svgIcon="hand-dollar"></mat-icon>
          Assets
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="assets-list">
        
        <div class="asset-item" *ngFor="let asset of assets; let i = index; let last = last">
          <div class="asset-info">
            <span class="asset-type">{{ asset.type }}</span>
            <span class="asset-value">${{ formatCurrency(asset.value) }}</span>
          </div>
          <div class="delete-icon-container">
            <button mat-icon-button class="delete-button" (click)="removeAsset(i)">
              <div class="delete-icon-background">
                <mat-icon class="delete-icon">delete</mat-icon>
              </div>
            </button>
          </div>
        </div>

        <div class="total-value-container">
          <div class="total-value">
            <span>TOTAL VALUE</span>
            <span>${{ formatCurrency(totalValue) }}</span>
          </div>
        </div>
      </mat-card-content>

      <div class="card-actions-divider"></div>
      <mat-card-actions>
        <button mat-stroked-button (click)="openDialog()">
          Add Assets
        </button>
      </mat-card-actions>
    </ng-container>
  </mat-card>
</div>